.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.insta-text{
  width: 100px;
}
.bi{
  margin-right: 10px;
}
.story{
  height: 70px;
}
.dp{
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.image{
  width: 300px;
}
.suggestion{
  width: 80%;
}
.suggestion h5{
  font-size: 16px;
}
.suggestion .dp{
  margin-top: 0px !important;

}
.story{
  height: 70px;
  padding: 10px;
}
.story-dp{
  height: 40px;
  width: 40px;
}
.gradient-border{
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg,#ff00ff,red,#ffcc00);
}
.profile{
  width: 100px;
  height: 100px;
}